<div class="container">
   <div class="col-md-4 offset-md-4">
      <h2>Update the drone</h2>

      <form action="/drones/create" method="post" class="card card-body text-white" style="background-color: #202020;">
         <label for="name">Name</label>
         <input type="text" name="name" value="{{droneById.name}}" placeholder="Drone's brand" class="form-control mb-2" required>
         <br>
         <label for="propellers">Propellers</label>
         <input type="text" name="propellers" value="{{droneById.propellers}}" placeholder="propellers number" class="form-control mb-2" required>
         <br>
         <label for="speed">Speed</label>
         <input type="text" name="speed" value="{{droneById.maxSpeed}}" placeholder="speed number" class="form-control mb-2" required>

         <button class="btn btn-primary">Actualizar Drone</button>

      </form>
</div>